/* Global overrides */
* {
    margin: 0;
    padding: 0;
}
h1 {
    color: #00BE00
}
body {
    background-image: url("../resources/touch_grass.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}
ul {

}

/* Global styling */
#navbar {

}
.nav {
    
}