/* Fonts */
@font-face {
  font-family: 'chintzy_cpu_brkregular';
  src: url('../resources/font/chintzy-webfont.woff2') format('woff2'),
       url('../resources/font/chintzy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cyberspaceregular';
  src: url('../resources/font/cyberspace-webfont.woff2') format('woff2'),
       url('../resources/font/cyberspace-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'unispacebold';
  src: url('../resources/font/unispace_bd-webfont.woff2') format('woff2'),
       url('../resources/font/unispace_bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global overrides */
* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
body {
    font-family: 'unispacebold', 'Unispace', 'Share Tech Mono';
    color: #FFFFFF;
    background-image: url("../resources/bg5000px.png");
    background-size: 100% 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
h1 {
  font-family: 'cyberspaceregular', 'unispacebold', 'Unispace';
}
table {
    border: 1px solid black;
    background-color: rgba(133, 133, 133, 0.5)
}
td {
    border: 1px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol {
    list-style-position: inside;
    margin-left: 10vw;
}

/* Global styling */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #000000;
  top: 0;
  width: 100%;
  opacity: 0.5;
}
.nav {
  float: left;
}
.nav a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover:not(.active) {
  background-color: #000000;
  opacity: 0.5;
}
.active {
  background-color: #4593CC;
}
#HZlogo {
  display: flex;
  justify-content: center;
}

/* Page-specific styling */
#monday {
  background-image: url("../resources/bgBlueData.png")
}
#tuesday {
  background-image: url("../resources/bgMobile.png");
}
#wednesday {
  background-image: url("../resources/kibbeling_day.jpg");
}
#thursday {
  background-image: url("../resources/wallpaper_thing_horizontal.png");
  background-size: cover;
  background-repeat: repeat;
}
#friday {
  background-image: url("../resources/touch_grass.jpg");
}