/* Fonts */
@font-face {
  font-family: 'chintzy_cpu_brkregular';
  src: url('../resources/font/chintzy-webfont.woff2') format('woff2'),
       url('../resources/font/chintzy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cyberspaceregular';
  src: url('../resources/font/cyberspace-webfont.woff2') format('woff2'),
       url('../resources/font/cyberspace-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'unispacebold';
  src: url('../resources/font/unispace_bd-webfont.woff2') format('woff2'),
       url('../resources/font/unispace_bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global overrides */
* {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
body {
  font-family: 'unispacebold', 'Unispace', 'Share Tech Mono';
  color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../resources/bg5000px.png");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1 {
  font-family: 'cyberspaceregular', 'unispacebold', 'Unispace';
  font-size: 4vh;
}
h2 {
  font-family: 'chintzy_cpu_brkregular', 'unispacebold', 'Unispace';
  font-size: 4vh;
}
table {
  border: 1px solid black;
  background-color: rgba(133, 133, 133, 0.5)
}
td {
  border: 1px solid black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol {
  list-style-position: inside;
  margin-left: 10vw;
}
footer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  bottom: 0%;
  width: 100%;
  margin-top: auto;
}
a {
  color: rgb(255, 255, 255);
}
/* Global styling */
.div {
  display: block;
  background-color: rgba(133, 133, 133, 0.5);
  padding: 10vh;
  margin: 1vh 10vh 1vh 10vh;
  border-radius: 5%;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
}
.nav {
  float: left;
}
.nav a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover:not(.active) {
  background-color: rgba(0, 0, 0);
  opacity: 0.5;
}
.active {
  background-color: rgb(69, 147, 204);
}
#HZlogo {
  width: 20vh;
  height: auto;
}
.textbox {
  display: flex;
  justify-content: center;
}
/* Page-specific styling */
#monday {
  background-image: url("../resources/bgBlueData.png")
}
#tuesday {
  background-image: url("../resources/bgMobile.png");
}
#wednesday {
  background-image: url("../resources/kibbeling_day.jpg");
}
#thursday {
  background-image: url("../resources/wallpaper_thing_horizontal.png");
  background-size:contain;
  background-repeat: repeat;
}
#friday {
  background-image: url("../resources/touch_grass.jpg");
}